<?xml version="1.0" encoding="utf-8"?>
<settings>
    <server>
        <server>
            <id>releases</id>
            <username>chef</username>
            <password>chefpassword</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>chef</username>
            <password>chefpassword</password>
        </server>
    </servers>
	<profiles>
		<profile>
			<id>development</id>
			<repositories>
				<repository>
					<id>releases</id>
					<name>Standard Bank Releases</name>
					<url>http://nexus.standardbank.co.za:8090/nexus/content/repositories/releases
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>snapshots</id>
					<name>Standard Bank Snapshots</name>
					<url>http://nexus.standardbank.co.za:8090/nexus/content/repositories/snapshots
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>nexus</id>
					<name>nexus</name>
					<layout>default</layout>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<url>http://nexus.standardbank.co.za:8090/nexus/content/groups/public
					</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>development</activeProfile>
	</activeProfiles>
	<mirrors>
		<mirror>
			<id>sbsa-snapshots</id>
			<mirrorOf>snapshots</mirrorOf>
			<url>http://nexus.standardbank.co.za:8090/nexus/content/repositories/snapshots
			</url>
		</mirror>
		<mirror>
			<id>sbsa-releases</id>
			<mirrorOf>releases</mirrorOf>
			<url>http://nexus.standardbank.co.za:8090/nexus/content/repositories/releases
			</url>
		</mirror>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://nexus.standardbank.co.za:8090/nexus/content/groups/public/
			</url>
		</mirror>
	</mirrors>
</settings>
